@page
@using DO_AN_CUOI_HK.BussinessLayer
@using DO_AN_CUOI_HK.Entities;
@model DO_AN_CUOI_HK.Pages.DanhSachModel
@{
    Layout = "_Layout";
    QL_CuaHang[] danhsach = XuLy.Danhsach();

}

<!DOCTYPE html>
<html>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>

</head>
<body style="font-family:Cambria">

    <!--Phân quyền-->
    <!--Hiển thị dữ liệu-->
    
    <a href="NhapVaLuuTru"><input type="button" value="Nhập hàng"></a>
    <input type="button" value="Xuất hàng"><br /><br />
    
   
    <table style="width:100%; text-align:center">
        <tr>
            
            <td>SỐ HÓA ĐƠN</td>
            <td>NGÀY HÓA ĐƠN</td>
            <td>NGÀY SẢN XUẤT</td>
            <td>MÃ HÀNG</td>
            <td>TÊN HÀNG HÓA</td>
            <td>SỐ LƯỢNG</td>
            <td>ĐƠN GIÁ</td>
            <td>THÀNH TIỀN</td>
            <td>LOẠI HÀNG</td>
            <td>NHÀ SẢN XUẤT</td>
            <td>HẠN SỬ DỤNG</td>
            <td></td>
            
        </tr>
        @for (int i = 0; i < danhsach.Length; i++)
        {
            <tr>
                
                <td>@danhsach[i].sohoadon</td>
                <td>@danhsach[i].ngayhoadon</td>
                <td>@danhsach[i].ngaysanxuat</td>
                <td>@danhsach[i].mahang</td>
                <td>@danhsach[i].tenhang</td>
                <td>@danhsach[i].soluong</td>
                <td>@danhsach[i].dongia</td>
                <td>@danhsach[i].thanhtien</td>
                <td>@danhsach[i].loaihang</td>
                <td>@danhsach[i].nhasanxuat</td>
                <td>@danhsach[i].hansudung</td>
                <td>
                    <a href="/XoaDulieu?mahang=@danhsach[i].mahang"><input type="button"value="Xóa" /></a>
                    <a href="/SuaDulieu?mahang=@danhsach[i].mahang"><input type="button" value="Sửa" /></a>
                </td>

            </tr>

        }

    </table>


</body>

</html>