
<div class="product-item">
    <div class="product-image">
        <a href="/products/{{id}}">
            <img src="{{imagePath}}" alt="{{name}}">
        </a>
        <div class="product-action">
            <a onclick="addCart({{id}}, 1)"><i class="fa fa-cart-plus"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="product-content">
        <div class="title"><a href="/products/{{id}}">{{name}}</a></div>
       {{{createStarList stars}}}
        <div class="price">${{price}} <span>${{oldPrice}}</span></div>
    </div>
</div>