<!---->
<div class="row">
    {{#each blogs}}
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="blog__item">
            <div class="blog__item__pic">
                <img src="{{imagePath}}" alt="">
            </div>
            <div class="blog__item__text">
                <ul>
                    <li><i class="fa fa-calendar-o"></i> {{formatDate createdAt}}</li>
                    <li><i class="fa fa-comment-o"></i> {{Comments.length}}</li>
                </ul>
                <h5><a href="/blogs/{{id}}">{{title}}</a></h5>
                <p>{{summary}}</p>
                <a href="/blogs/{{id}}" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
            </div>
        </div>
    </div>
    {{/each}}
    <div class="col-lg-12">
        {{!-- {{{ createPagination pagination paginationClass="product__pagination blog__pagination" 
        leftText='<i class="fa fa-long-arrow-left"></i>'
        rightText='<i class="fa fa-long-arrow-right"></i>'}}} --}}

        <nav aria-label="Page navigation example" id="pagination"></nav>
        {{{ createPagination pagination paginationClass="product__pagination blog__pagination pagination justify-content-center" 
        leftText='<i class="fa fa-long-arrow-left"></i>'
        rightText='<i class="fa fa-long-arrow-right"></i>'}}}
    </div>
</div>

<script>
    document.querySelectorAll("#pagination li"). forEach((item) => {
        item.classList.add("page-item");      
    });
    document.querySelectorAll("#pagination a"). forEach((item) => {
        item.classList.add("page-link");      
    });
</script>