<!-- Main Slider Start -->
<div class="home-slider">
    <div class="main-slider">
        <div class="main-slider-item"><img src="img/slider-1.jpg" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="img/slider-2.jpg" alt="Slider Image" /></div>
        <div class="main-slider-item"><img src="img/slider-3.jpg" alt="Slider Image" /></div>
    </div>
</div>
<!-- Main Slider End -->


<!-- Feature Start-->
<div class="feature">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-shield"></i>
                    <h2>Trusted Shopping</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-shopping-bag"></i>
                    <h2>Quality Product</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-truck"></i>
                    <h2>Worldwide Delivery</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 feature-col">
                <div class="feature-content">
                    <i class="fa fa-phone"></i>
                    <h2>Telephone Support</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End-->


<!-- Category Start-->
<div class="category">
    <div class="container-fluid">
        <div class="row">
            {{#each categaryArray}}
            <div class="col-md-4">
                {{#each this}}
                <div class="category-img">
                    <img src="{{imagePath}}" />
                    <a class="category-name" href="/products?category={{id}}">
                        <h2>{{name}}</h2>
                    </a>
                </div>
                {{/each}}
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Category End-->


<!-- Featured Product Start -->
<div class="featured-product">
    <div class="container">
        <div class="section-header">
            <h3>Featured Product</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies.
                Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            {{#each featuredProducts}}
            <div class="col-lg-3">
                {{> products}}
            </div>
            {{/each}}

        </div>
    </div>
</div>
<!-- Featured Product End -->


<!-- Newsletter Start -->
<div class="newsletter">
    <div class="container">
        <div class="section-header">
            <h3>Subscribe Our Newsletter</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies.
                Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="form">
            <input type="email" value="Your email here">
            <button>Submit</button>
        </div>
    </div>
</div>
<!-- Newsletter End -->


<!-- Recent Product Start -->
<div class="recent-product">
    <div class="container">
        <div class="section-header">
            <h3>Recent Product</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies.
                Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="row align-items-center product-slider product-slider-4">
            {{#each recentProducts}}
            <div class="col-lg-3">
                {{> products}}
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Recent Product End -->


<!-- Brand Start -->
<div class="brand">
    <div class="container">
        <div class="section-header">
            <h3>Our Brands</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra at massa sit amet ultricies.
                Nullam consequat, mauris non interdum cursus
            </p>
        </div>
        <div class="brand-slider">
            {{#each brands}}
            <div class="brand-item"><img src="{{imagePath}}" alt="{{name}}"></div>
            {{/each}}
        </div>
    </div>
</div>
<!-- Brand End -->