
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">product list</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="product-search">
                                            <form action="/products" method="GET">
                                                <input type="text" placeholder="Search" name="keyword" required>
                                                <button><i class="fa fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="product-short">
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Product short by {{sort}}</a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a href="{{originalUrl}}&sort=newest" class="dropdown-item">Newest</a>
                                                     <a href="{{originalUrl}}&sort=price" class="dropdown-item">Price</a>
                                                    <a href="{{originalUrl}}&sort=popular" class="dropdown-item">Popular</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          {{#each products}}
                            <div class="col-lg-4">
                                 {{> products}}
                            </div>
                            {{/each}}
                        </div> 
                        <div class="col-lg-12">
                            <nav aria-label="Page navigation example" id="pagination" >
                                {{{createPagination pagination paginationClass="pagination justify-content-center"
                                    leftText = "Previous" rightText = "Next" 
                                }}}
                            </nav>
                            
                        </div>
                    </div>
                    
                    
                    {{> right-column}}
                   
                </div>
            </div>
        </div>
        <!-- Product List End -->
        <script>
            document.querySelectorAll('#pagination li').forEach(li =>{
                li.classList.add('page-item');
            });
            document.querySelectorAll('#pagination li a').forEach(a=>{
                a.classList.add('page-link');
            });
        </script>