@model IEnumerable<ASPMVC.Models.CategoryOfProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*Html.DisplayNameFor(Model =>Model.NameOftProduct)*@
            Tên sản phẩm
        </th>
        <th>
            @*Html.DisplayNameFor(Model =>Model.CategroryOfProductID)*@
            Mã loại sản phẩm
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Description)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryOfProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryOfProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryOfProductID })
        </td>
    </tr>
}

</table>
